* {
    margin: 0; padding: 0; box-sizing: border-box;
}

body {
    background: aliceblue
}

.form-wrapper {
    background: white;
    margin: 3em auto;
    padding: 0 1em;
    max-width: 370px;
}

h3 {
    text-align: center;
    padding: 1em 0;
    border: 1px solid black;
    height: 50px;
}

.form-wrapper p {
    text-align: center;
    border: 1px solid blue;
}

form {
    padding: 0 1.5em;
}

a {
    text-decoration: none;
}