* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    margin: 10px;
    width: 200px;
    line-height: 1.5em;
}

form label {
    font-size: 20px;
    padding: 5px 0px;
    display: flex;
    align-self: center;;
}

form input {
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    text-align: center;
}

p {
    font-size: 20px;
    margin: 20px 0px 5px 0px;
}

#radioButtons {
    display: inline;
}

#radio {
    margin: 0px 15px;
    display: flex;
    align-self: center;
}

form button {
    font-size: 20px;
    margin: 20px 0px;
    padding: 5px;
    border-radius: 10px;
}

form button:hover {
    background-color: green;
    color: white;
}

.penny {
    height: 75px;
    width: 75px;
    content: url(./Images/Penny.jpeg)
}

.nickel {
    height: 85px;
    width: 85px;
    content: url(./Images/Nickel.jpeg)
}

.dime {
    height: 70px;
    width: 70px;
    content: url(./Images/Dime.jpg)
}

.quarter {
    height: 90px;
    width: 90px;
    content: url(./Images/Quarter.jpeg);
}

section {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 5px;
}